.container{
width: 800px;
margin: auto;
}
.phoneImage{
  width: 440px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
}
.phoneImage img{
  width: 400px;
  margin-top: 40px;
}
.signUpForm{
  height: 200px;
  width: 346px;
  background-color: blue;
  display: inline-block;
}
